@import '~antd/dist/antd.less';

body {
  background: #F7F8FA;
}

.ant-layout-header {
  background: #F7F8FA;
  color: black;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: #F7F8FA;
  color: black;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: rgba(100, 149, 237,1);
  color: black;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  color: black;
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
  color: orangered;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
  color:black;
}
.ant-menu-submenu-selected{
  color: rgba(100, 149, 237,1);
}

 .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
   border-right:3px solid #6495ED;
 }
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color : rgba(100, 149, 237,0.3);
}